@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=Cinzel+Decorative&family=EB+Garamond&family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@300;400&family=Inter:wght@400;500&family=Jockey+One&family=Lato:ital@0;1&family=Lobster&family=Martian+Mono:wght@300&family=Montserrat&family=Playfair:ital@1&family=Poppins&family=Rajdhani:wght@600&family=Roboto+Slab:wght@200;300&family=Roboto:ital,wght@0,300;1,300&family=Source+Serif+4&family=Space+Grotesk&family=Work+Sans:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 0;
    padding: 0;
}

.marquee {
    font-weight: 400;
    /*border-top:1px solid #C3073F;
    border-bottom:2px solid #C3073F;*/
    padding-top: 5px;
    font-size: 150%;
}

.headertext {
    background: #8d4b6e;
    padding: 15px 20px;
    margin: 0;
    /*min-height:110px;*/
}

.headertextheading {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.headertextspan {
    color: #FFF;
    text-align: center;
    font-size: 70%;
    padding: 0;
    margin: 0 auto;
}

.headerlogo {
    margin: 0 0 0 30px;
    float: left;
}
.aboutmam {
    display: flex;
    justify-content: center;
}
.aboutmam span {
    text-align: center;
    font-weight: bold;
    color: #33455f;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto 30px auto;
}
.aboutmamcont{
    padding: 0 50px;
    margin-bottom: 30px;
}
.aboutimg img {
    width:65%;
    margin-bottom: 40px;
}
.aboutimg {
    display: flex;
    justify-content: center;
    align-items: center;
}


.p{
    color: #33455f;
    text-align: justify;
    font-weight: inherit;
    text-transform: none;
    padding: 20px 20px;
    margin: 10px auto;
    font-size: 20px;
}

ul{
    list-style-type: "*  ";
    list-style-position:initial;
    padding-inline-start: 15px;
}

.container{
    padding:10px 50px;
    background-color: #b9b8b8;
    margin: 30px auto;
}

.box{
    padding: 10px 50px;
    background-color: #FFF;
}

.box1{
    color: #33455f;
    text-align: justify;
    font-weight: inherit;
    text-transform: none;
    line-height: 1.5em;
    font-size: 125%;
}

.ourvission{
    background-color: #b9b8b8;
    padding: 10px 50px;
    transition: all 0.3s ease-in-out;
    margin: 30px auto;
}
.h1 {
    margin: 15px 0;
    padding: 0;
}
@media screen and (max-width: 800px) {
    .aboutimg img {width:95%;}
    
p{
    padding: 20px 20px;
}

}
@media screen and (max-width: 576px) {
    .aboutmamcont{
        padding: 0 15px;
    }
    .aboutimg img {width:100%;}
p{
    padding: 15px 10px;
}
.ourvission{
    padding: 10px 15px;
}
.box{
    padding: 10px 15px;
}
.container{
    padding:10px 15px;
}
}
