body {
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 0;
    padding: 0;
}

.marquee {
    font-weight: 400;
    /*border-top:1px solid #C3073F;
    border-bottom:2px solid #C3073F;*/
    padding-top: 5px;
    font-size: 150%;
}

.headertext {
    background: #8d4b6e;
    padding: 15px 20px;
    margin: 0;
    /*min-height:110px;*/
}

.headertextheading {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.headertextspan {
    color: #FFF;
    text-align: center;
    font-size: 70%;
    padding: 0;
    margin: 0 auto;
}

.headerlogo {
    margin: 0 0 0 30px;
    float: left;
}

#chairmanmsg{
    font-size: 100%;
    font-weight: inherit;
    margin-left: 500px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #33455f;
}

.msg{
    color:#33455f;
    text-align: justify;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 70px;
    gap: 60px;
    margin-bottom: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 15px 40px !important;
    background-color: #fafafa !important;
    font-weight: inherit;
    text-transform: none;
    box-sizing: content-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 253, 253);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #888888;
}

p {
    line-height: 1.66em;
    color: #33455f;
}

.chairmanimg {
    width: 100%;
    max-width: 550px;
    height:450px
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column-reverse;
        align-items: center; 
    }
    .chairmanimg {
        max-width: 100%; 
        height: auto;
    }
}
@media screen and (max-width: 700px) {
    .container {
        padding: 0 30px;
    }
}
@media screen and (max-width:536px) {
    .container {
        padding: 0 15px;
        gap:30px;
    }
    
.box {
    padding: 15px 20px !important;
}
}
