body {
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 0;
    padding: 0;
}

.marquee {
    font-weight: 400;
    /*border-top:1px solid #C3073F;
    border-bottom:2px solid #C3073F;*/
    padding-top: 5px;
    font-size: 150%;
}

.headertext {
    background: #8d4b6e;
    padding: 15px 20px;
    margin: 0;
    /*min-height:110px;*/
}

.headertextheading {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.headertextspan {
    color: #FFF;
    text-align: center;
    font-size: 70%;
    padding: 0;
    margin: 0 auto;
}

.headerlogo {
    margin: 0 0 0 30px;
    float: left;
}

.container{
    display: flexbox;
    box-sizing: content-box;
    background-color: rgb(250, 250, 250);
}

p{
    color:#33455f;
}

.box{
    float:left;
    margin-left: 200px;
    vertical-align: baseline;
    position: relative;
    border: 0px;
    margin-top: 30px !important;
    margin-bottom: 100px !important;
    padding: 10px 10px 10px 10px !important;
    background-color: #fdfdfd !important;
    font-weight: inherit;
    text-transform: none;
    box-sizing: content-box;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255); 
    width: 500px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #888888;
}

.box:hover{
    scale: 1.05;
}

h3{
    text-align: center;
    line-height: 1.3em;
    color:#33455f;
}

.box1{
    float:right;
    margin-right: 200px;
    position: relative;
    display: flexbox;
    margin-top: 30px !important;
    margin-bottom: 100px !important;  
    padding: 10px 10px 10px 10px !important;
    background-color: #fafafa !important;
    font-weight: inherit;
    text-transform: none;
    box-sizing: content-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 253, 253);
    width: 500px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #888888;
}

.box1:hover{
    scale: 1.05;
}

.box2{
    float:left;
    margin-left: 200px;
    display: flexbox;
    position: relative;
    border: 0px;
    margin-top: 0px !important;
    margin-bottom: 100px !important;
    padding: 10px 10px 10px 10px !important;
    background-color: #fefefe !important;
    font-weight: inherit;
    text-transform: none;
    box-sizing: content-box;
    border-style: solid;
    border-width: 2px;
    border-color: white; 
    width: 500px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #888888;
}

.box2:hover{
    scale: 1.05;
}

.box3{
    float:right;
    margin-right: 200px;
    position: relative;
    display: flexbox;
    margin-top: 0px !important;
    margin-bottom: 100px !important;
    padding: 10px 10px 10px 10px !important;
    background-color: #fcfcfc !important;
    font-weight: inherit;
    text-transform: none;
    box-sizing: content-box;
    border-style: solid;
    border-width: 2px;
    border-color: white; 
    width: 500px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #888888;
}

.box3:hover{
    scale: 1.05;
}

#vission{
    font-size: 100%;
    font-weight: inherit;
    margin-left: 500px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #33455f;
}


@media screen and (max-width: 600px) {
    .headerlogo {
        float: none;
        margin: 10px auto;
    }
}